/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #ade8f4;
    text-align: center;
    padding: 20px;
}

/* Navigation Styling */
nav {
    display: flex;
    justify-content: space-between; /* Ruimte tussen de titel en de rest */
    align-items: center; /* Verticaal centreren */
    padding: 10px 20px;
}

.nav-links {
    list-style: none;
    display: flex; /* Gebruik flexbox om de links naast elkaar te plaatsen */
    gap: 20px; /* Voeg ruimte tussen de links toe */
    margin: 0;
}

.nav-links li {
    display: inline;
}

.nav-links li a {
    text-decoration: none;
    color: #0077b6;
    font-weight: bold;
    font-size: 1rem;
}

.go-back {
    margin: 20px;
    text-align: left;
}

.go-back-button {
    margin-left: 0.52cm;
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #0077b6;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 20px;
}

.go-back-button:hover {
    background-color: #005f8d;
}
/* Voor kleine schermen zoals mobiele apparaten */
@media (max-width: 576px) {
    body {
        font-size: 14px; /* Kleiner lettertype voor kleine schermen */
    }

    h1 {
        font-size: 5vw; /* Past de grootte van h1 aan op basis van de schermbreedte */
    }
    
    p {
        font-size: 2vw;
    }    
}

/* Voor middelgrote schermen zoals tablets */
@media (max-width: 768px) {
    body {
        font-size: 16px; /* Iets groter lettertype voor tablets */
    }

    h1 {
        font-size: 5vw; /* Past de grootte van h1 aan op basis van de schermbreedte */
    }
    
    p {
        font-size: 2vw;
    }    
}

/* Voor grotere schermen blijft de standaardgrootte */
body {
    font-size: 18px; /* Standaardgrootte */
}

/* Algemeen stijlen voor titels en tekst */
h2, h3 {
    font-size: 2rem; /* Zorgt dat de titels dezelfde grootte hebben */
    font-weight: bold; /* Bold voor consistentie */
    margin-bottom: 1rem; /* Ruimte onder de titel */
}

/* Stijlen voor de paragrafen */
section p {
    font-size: 1.1rem; /* Vergroot de tekst een beetje */
    line-height: 1.6; /* Zorgt voor meer ruimte tussen de regels */
    margin-bottom: 1.5rem; /* Ruimte tussen paragrafen */
}

section.pictures h2 {
    text-align: center;
    font-size: 3rem;
}



.pictures-grid {
    display: grid;   
    grid-template-columns: repeat(3, 1fr);  
    gap: 15px;              
    justify-items: center;  
    align-items: center;    
}

.pictures-grid img {
    width: 60%;           
    height: auto;          
    border-radius: 8px;  
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
